html{
    font-size:100%;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
}

body{
    margin:0;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:12px;
    line-height:1.5em;
}

audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}


a{color:#0088cc;text-decoration:none;}
a:hover{color:#005580;text-decoration:underline;}



abbr[title]{
    border-bottom:1px dotted #ddd;cursor:help;
}
abbr.initialism{
    font-size:90%;text-transform:uppercase;
}
address{
    display:block;margin-bottom:18px;line-height:18px;font-style:normal;
}
small{
    font-size: 10px;
}

.main-body{
    width:960px;
    margin:0 auto;
    margin-top:0px;
}

.navigation{
    width:960px;
    position:fixed;
    top:0;
    margin-top:15px;
    /**
    border:1px solid #ebebeb;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    
    -webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;

    background:#eee;
    */
}
.navigation .site_name{
    font-size:24px;
    color:#ff0080;
    font-weight:bold;
    float:left;
    margin:0px 20px 0px 0px;
    padding:0px 5px 10px 0px;
    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.2);
}
.navigation ul{
    list-style:none;
    display:block;
    margin:0;
}
.navigation ul li{
    float:left;
    margin: 0px 15px 0px 5px;
    padding:0px 5px 10px 5px;
}
.navigation ul a{
    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.2);
    padding: 5px 10px 5px 10px;
}
.navigation ul a:hover, .navigation ul a:active{
    background-color:#2c2c2c;
    padding:5px 10px 5px 10px;
    color:#ffffff;
}

.navigation ul .active a{
    color:#ffffff;
    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.2);
    padding: 5px 10px 5px 10px;
    background-color:#65B453;
}

.main {
    clear:both;
    margin-top:80px;
    padding-top:0px;
}
.main .main-sidebar{
    border-right:1px solid #efefef;
    
    width:160px;
    float:left;

    /**
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    background:#f5f5f5;
    */
}
.main-sidebar ul{
    list-style:none;
    margin:10px 10px 10px 0px;
    padding:0;
}
.main-sidebar ul li{
    margin:5px 0px 5px 0px;
}
.main-sidebar ul .dateline{
    font-weight:bold;
}

.main .main-content{
    float:left;
    margin-left:40px;
    width:750px;
}
.footer{
    padding-top:20px;
    clear:both;
    color:#999;
}
.footer a{
    color:#999;
}
